# Example of Number operations

In [1]:
193 + 98

291

In [2]:
a = 193 / 98
print(a)

1.969387755102041

In [3]:
b = a*98
print(b)

193.0

In [4]:
98 ** 53

3427535895405538848460706523518848064953310336808988425921405762682890676431423294850727263958512915447808

# Import Class

In [8]:
import math
math.pi

3.141592653589793

In [10]:
math.sqrt(15)

3.872983346207417

In [11]:
print(1+2)
print(a*4)
print(a/b)

3
22.363636363636363
0.125

# Check object type

In [13]:
print(type(a))
print(type(b))

<class 'float'>
<class 'float'>

In [14]:
c = 123
print(type(c))

<class 'int'>

In [15]:
d = '123'
print(type(d))

<class 'str'>

# Example of String operations

In [5]:
name = 'sadat "mostafa'
print(name)

sadat "mostafa

In [6]:
name = "sadat 'mostafa"
print(name)

sadat 'mostafa

In [7]:
'sadat ' * 5

'sadat sadat sadat sadat sadat '

In [8]:
'sadat '+'mostafa'

'sadat mostafa'

In [9]:
name = 'anik bin sadat'
sub = 'sar'
name.count(sub)

0

In [10]:
name[0:5]

'anik '

In [11]:
name[-3:]

'dat'

In [12]:
dir(name)

['__add__',
 '__class__',
 '__contains__',
 '__delattr__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__getnewargs__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__mod__',
 '__mul__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__rmod__',
 '__rmul__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'capitalize',
 'casefold',
 'center',
 'count',
 'encode',
 'endswith',
 'expandtabs',
 'find',
 'format',
 'format_map',
 'index',
 'isalnum',
 'isalpha',
 'isascii',
 'isdecimal',
 'isdigit',
 'isidentifier',
 'islower',
 'isnumeric',
 'isprintable',
 'isspace',
 'istitle',
 'isupper',
 'join',
 'ljust',
 'lower',
 'lstrip',
 'maketrans',
 'partition',
 'replace',
 'rfind',
 'rindex',
 'rjust',
 'rpartition',
 'rsplit',
 'rstrip',
 'split',
 'splitlines',
 'startswith',
 'strip',
 'swapcase',
 'title',
 'translate',
 'upper',
 'zfill']

In [13]:
name.islower()

True

In [14]:
mystring = 'I am right\nHe is fine\nThis it okay'
mystring.splitlines()

['I am right', 'He is fine', 'This it okay']

In [15]:
separator = '=='
mystrings = ['Himel', 'Liton', 'Hasan']
separator.join(mystrings)

'Himel==Liton==Hasan'

In [16]:
help(mystring.count)

Help on built-in function count:

count(...) method of builtins.str instance
    S.count(sub[, start[, end]]) -> int

    Return the number of non-overlapping occurrences of substring sub in
    string S[start:end].  Optional arguments start and end are
    interpreted as in slice notation.

# String

In [17]:
S = 'Shafin'

In [18]:
len(S)

6

In [19]:
S[0]

'S'

In [20]:
S[1]

'h'

In [21]:
S[-1]

'n'

In [22]:
S[-2]

'i'

In [23]:
S[len(S)-1]

'n'

In [24]:
S

'Shafin'

In [25]:
S[1:3]

'ha'

In [26]:
S[1:]

'hafin'

In [27]:
S[0:3]

'Sha'

In [28]:
S[:3]

'Sha'

In [29]:
S[:-1]

'Shafi'

In [30]:
S[:]

'Shafin'

In [31]:
S + 'xyz'

'Shafinxyz'

In [32]:
S*8

'ShafinShafinShafinShafinShafinShafinShafinShafin'

In [117]:
S[0] = 'n'

TypeError: 'str' object does not support item assignment

In [34]:
S = 'z' + S[1:]

In [35]:
S

'zhafin'

In [36]:
S.find('ki')

-1

In [37]:
S

'zhafin'

In [38]:
S.replace('ha', 'XYZ')

'zXYZfin'

In [39]:
S

'zhafin'

In [40]:
line = 'aaa,bbb,ccccc,dd'

In [41]:
line.split(',')

['aaa', 'bbb', 'ccccc', 'dd']

In [42]:
A = 'arif'

In [43]:
A.upper( )

'ARIF'

In [44]:
A.isalpha( )

True

In [45]:
line = 'aaa,bbb,ccccc,dd\n'
line = line.rstrip( ) 
line

'aaa,bbb,ccccc,dd'

In [46]:
dir(A)

['__add__',
 '__class__',
 '__contains__',
 '__delattr__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__getnewargs__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__mod__',
 '__mul__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__rmod__',
 '__rmul__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'capitalize',
 'casefold',
 'center',
 'count',
 'encode',
 'endswith',
 'expandtabs',
 'find',
 'format',
 'format_map',
 'index',
 'isalnum',
 'isalpha',
 'isascii',
 'isdecimal',
 'isdigit',
 'isidentifier',
 'islower',
 'isnumeric',
 'isprintable',
 'isspace',
 'istitle',
 'isupper',
 'join',
 'ljust',
 'lower',
 'lstrip',
 'maketrans',
 'partition',
 'replace',
 'rfind',
 'rindex',
 'rjust',
 'rpartition',
 'rsplit',
 'rstrip',
 'split',
 'splitlines',
 'startswith',
 'strip',
 'swapcase',
 'title',
 'translate',
 'upper',
 'zfill']

In [47]:
A = 'A\nB\tC' 
len(A)

5

In [48]:
ord('\n')

10

In [49]:
A = 'A\0B\0C' 
len(A)

5

In [50]:
msg = """
aaaaaaaaaaaaa
bbb'''bbbbbbbbbb""bbbbbbb'bbbb
cccccccccccccc"""

In [51]:
msg

'\naaaaaaaaaaaaa\nbbb\'\'\'bbbbbbbbbb""bbbbbbb\'bbbb\ncccccccccccccc'

In [54]:
import re
match = re.match('Hello[ \t]*(.*)world', 'Hello Python world')
match.group(1)

'Python '

In [55]:
match = re.match('/(.*)/(.*)/(.*)', '/shafin/home/python')
match.groups( )

('shafin', 'home', 'python')

# List

In [56]:
L = [478, 'Shafin Ahmed',3.50]

In [57]:
len (L)

3

In [58]:
L[:-1]

[478, 'Shafin Ahmed']

In [59]:
L+[7,8,9]

[478, 'Shafin Ahmed', 3.5, 7, 8, 9]

In [60]:
L

[478, 'Shafin Ahmed', 3.5]

In [61]:
L.append('12')

In [62]:
L

[478, 'Shafin Ahmed', 3.5, '12']

In [63]:
L.pop(2)

3.5

In [64]:
L

[478, 'Shafin Ahmed', '12']

In [65]:
M=['1','4','3']

In [66]:
M.sort()

In [67]:
M

['1', '3', '4']

In [68]:
M.reverse()

In [69]:
M

['4', '3', '1']

In [70]:
L

[478, 'Shafin Ahmed', '12']

In [71]:
L[45]

IndexError: list index out of range

In [72]:
L[45]= 4

IndexError: list assignment index out of range

In [73]:
 M = [18,19,20],[47,48,49],[1,4,9]

In [74]:
M
[[18,19,20],[47,48,49],[1,4,9]]

[[18, 19, 20], [47, 48, 49], [1, 4, 9]]

In [75]:
M[1]

[47, 48, 49]

In [76]:
M[1][2]

49

In [77]:
col2 = [row[1] for row in M]

In [78]:
col2

[19, 48, 4]

In [79]:
M

([18, 19, 20], [47, 48, 49], [1, 4, 9])

In [80]:
[row[1] + 1 for row in M]

[20, 49, 5]

In [81]:
[row[1] for row in M if row[1] % 2 == 0]

[48, 4]

In [82]:
diag = [M[i][i] for i in [0, 1, 2]]

In [83]:
 diag

[18, 48, 9]

In [84]:
 doubles = [c * 2 for c in 'santo']

In [85]:
doubles

['ss', 'aa', 'nn', 'tt', 'oo']

# Dictionary

In [135]:
D = {'shafin': 'ahmed', 'id': 98, 'Department': 'CSE'}

In [136]:
D['Department']

'CSE'

In [137]:
D['id'] += 1

In [138]:
D

{'shafin': 'ahmed', 'id': 99, 'Department': 'CSE'}

In [158]:
D = {}
D['product'] = 'mouse'
D['catagory'] = 'accessories'
D['price'] = 1234

In [159]:
D

{'product': 'mouse', 'catagory': 'accessories', 'price': 1234}

In [160]:
print(D['catagory'])

accessories

In [161]:
rec = {'name': {'first': 'ahmed', 'last': 'shafin'},'job': ['student', 'mgr'],'age': 23}

In [162]:
rec['name']

{'first': 'ahmed', 'last': 'shafin'}

In [163]:
rec['name']['last']

'shafin'

In [164]:
rec['job']

['student', 'mgr']

In [165]:
rec['job'][-1]

'mgr'

In [166]:
rec['job'].append('janitor')
rec

{'name': {'first': 'ahmed', 'last': 'shafin'},
 'job': ['student', 'mgr', 'janitor'],
 'age': 23}

In [167]:
rec = 0

D = {'a': 111, 'c': 333 ,'b': 222}
D

In [168]:
Ks = D.keys()
Ks

dict_keys(['product', 'catagory', 'price'])

In [169]:
Ks=sorted(D)
Ks

['catagory', 'price', 'product']

In [170]:
for key in Ks: 
    print(key, '=>', D[key])

catagory => accessories
price => 1234
product => mouse

In [171]:
for key in sorted(D):
    print(key, '=>', D[key])

catagory => accessories
price => 1234
product => mouse

In [172]:
for c in 'shafin':
    print(c.upper())

S
H
A
F
I
N

In [173]:
squares = [x ** 2 for x in [11, 22, 33, 44, 55]]
squares

[121, 484, 1089, 1936, 3025]

In [174]:
squares = []
for x in [11, 22, 33, 44, 55]: 
    squares.append(x ** 2)

In [175]:
squares

[121, 484, 1089, 1936, 3025]

In [176]:
D

{'product': 'mouse', 'catagory': 'accessories', 'price': 1234}

In [177]:
D['e'] = 99

In [178]:
D

{'product': 'mouse', 'catagory': 'accessories', 'price': 1234, 'e': 99}

In [180]:
D['f']

KeyError: 'f'

In [181]:
 D.has_key('f')

AttributeError: 'dict' object has no attribute 'has_key'